.o_field_widget {
    &, input.o_input {
        display: inline-block;
        text-align: inherit;
    }

    &.o_field_many2one, &.o_field_radio, &.o_field_many2manytags {
        display: inline-flex;
        > span, > button {
            flex: 0 0 auto;
        }
    }
    .o_input_dropdown {
        flex: 1 1 auto;
        position: relative;
        width: 100%;

        > input {
            padding-right: 15px;
            cursor: pointer;

            &::-ms-clear {
                display: none;
            }
        }

        .o_dropdown_button {
            @include o-position-absolute(6px, 8px);
            pointer-events: none;
            &:after {
                @include o-caret-down;
            }
        }
    }
    &.o_field_many2manytags {
        flex-flow: row wrap;
        align-items: baseline;
        max-width: 100%;

        > .o_field_widget {
            flex: 1 0 100px;
            position: initial;
            max-width: 100%;
        }

        .badge {
            flex: 0 0 auto;
            border: 0;
            font-size: 12px;
            cursor: pointer;
            user-select: none;
            display: flex;
            max-width: 100%;
            color: #777777;
            background-color: #fff;
            box-shadow: inset 0 0 0 2px #777777;

            a {
                color: inherit;
            }

            .o_badge_text {
                @include o-text-overflow(inline-block);
                max-width: 200px;
                color: inherit;
            }

            .o_delete {
                color: inherit;
                cursor: pointer;
                padding-left: 4px;
            }
        }

        // o-kanban-colorpicker without customizing
        // '&:first-child > a::before' (transparent red-crossed colorpick)
        @mixin o-tag-colorpicker {
            $o-tag-colorpicker-padding-right: $o-dropdown-hpadding - 2 * 5px; // FIXME was $o-kanban-inner-hmargin before scss convertion

            max-width: 100%;
            padding: 3px $o-tag-colorpicker-padding-right 3px $o-dropdown-hpadding;

            > li {
                display: inline-block;
                margin: 5px 5px 0 0; // FIXME was $o-kanban-inner-hmargin before scss convertion
                border: 1px solid white;
                box-shadow: 0 0 0 1px gray('300');

                > a {
                    display: block;

                    &::after {
                        content: "";
                        display: block;
                        width: 20px;
                        height: 15px;
                    }
                }

                &:last-of-type {
                    box-shadow: 0 0 0 0px white; // remove grey border on hide in kanban
                    color: $o-main-text-color;
                }
            }
        }

        .tagcolor_dropdown_menu {
            min-width: 150px; // down from 160px of .dropdown-menu
            margin-right: 0px; // cancel right margin of .dropdown-menu
        }

        .o_colorpicker > ul {
            @include o-tag-colorpicker;
            white-space: normal;
            li > .o_hide_in_kanban label {
                line-height: $o-line-height-base;
            }
        }

        &.o_field_many2one, &.o_field_many2manytags {
            display: inline-flex;
        }

        @for $size from 1 through length($o-colors) {
            .o_tag_color_#{$size - 1} {
                @if $size == 1 {
                    & {
                        background-color: white;
                        color: nth($o-colors, $size);
                        box-shadow: inset 0 0 0 2px nth($o-colors, $size);
                    }
                    &::after {
                        background-color: nth($o-colors, $size);
                    }
                } @else {
                    &, &::after {
                        background-color: nth($o-colors, $size);
                        color: $white;
                    }
                }
            }
        }
        .o_tag_error {
            box-shadow: inset 0 0 0 2px #FF0000;

            .o_delete {
                color: #FF0000;
            }
        }
        // Many2many tags avatar
        &.avatar {
            .badge {
                padding-left: 4px;
                img {
                    height: 18px;
                    width: 18px;
                    object-fit: cover;
                }
                &.o_tag_color_0 {
                    background-color: #F1F1F1;
                    box-shadow: none;
                    border: 1px solid gray('300');
                }
                .o_delete {
                    margin-top: 3px;
                }
            }
        }
    }
}