.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(/website_outlet_locator_app/static/src/img/loader.gif) center no-repeat rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 1px white;
}


.btn-green {
    color: #FFFFFF;
    background-color: #296448;
    border-color: #296448;
}


.place-location .panel.panel-default {
    border-radius: 0px;
}

.place-location .panel-heading {
    width: 100%;
}

.reset-loc {
    margin-left: 10px;
}

.place-location #googleMap, .place-location #menus {
    height: 550px;
}

@media (min-width: 1200px) {
    #map-container {
        padding-left: 0px;
    }
}

.place-location #menus {
    padding-right: 0px;
    margin: 0px;
}

.store-lists {
    height: 493px;
    overflow-y: scroll;
    background-color: #E7E7E7;
    padding-bottom: 10px;
}

.store-name {
    color : #296448;
    font-weight:900; 
    font-size:16px;
}

.store-address {
    color : black;
    font-weight:500; 
    font-size:14px;
}



.store-details {
    color : #296448;
}

.store-details a {
    color : #296448;
}

.store-details b {
    color : #296448;
}


.store-head {
    font-size: 16px;
    border-radius: 16px;
    padding-top: 6px;
    color: white;
}

.stores {
    font-size: 18px;
    color: white;
}

.search-text {
    font-size: 1.3em;
    font-weight: 700;
    color: #777777;
}

li.hide-shop {
    display: none !important;
}

.selected {
    border-top: 4px solid rgba(6, 38, 71, 1);
    background-position: 0 100%;
    color: #555555;
    padding-top: 4px !important;
}

.store-lists ul li {
    height: 109px;
    padding: 5px;
    cursor: pointer;
    overflow: hidden;
    color: #333333;
    margin-top: 6px;
    margin-bottom: -6px;
    width: 100%;
}

div.all-stores {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
    z-index: 100;
    height: 100px;
    border-radius: 2px;
    padding-top: 8px;
    padding-left: 6px;
    line-height: 1.3;
    overflow: hidden;
    background-size: 100% 200%;
    background-image: linear-gradient(to bottom, #fff 50%, #EAEAEA 50%);
    -webkit-transition: background-position .3s;
    -moz-transition: background-position .3s;
    transition: background-position .3s;
}

div.all-stores:hover {
    background-position: 0 100%;
}

.store-info .web-addr, .store-info .store-image {
    display: none;
}


.store-not-found {
    font-size: 20px;
    font-weight: 900;
    height: auto !important;
    margin-top: 35px !important;
    padding-left: 22% !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.extra-information.alert-info {
    margin: 0px;
    border-radius: 0px;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
